* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  height: auto;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main section:nth-child(1) {
  margin-top: 20px;
}
body section:nth-child(2) .text-black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section:nth-child(2) .text-black textarea {
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 2px #ddd solid;
  transition: all 0.5s;
  font-family: '微软雅黑';
}
body section:nth-child(2) .text-black textarea:hover {
  border: #3498db 2px solid;
}
body section:nth-child(2) .text-black textarea::placeholder {
  color: #3498db;
}
body section:nth-child(2) .text-black .submit {
  margin-left: auto;
}
body section:nth-child(2) .text-black .submit span strong {
  color: red;
  font-weight: 400;
}
body section:nth-child(2) .text-black .submit button {
  background-color: rgba(255, 127, 80, 0.5);
  width: 80px;
  font-size: 15px;
  color: #2c3e50;
  cursor: pointer;
  transition: all 0.8s;
}
body section:nth-child(2) .text-black .submit button:hover {
  color: #130f40;
  font-size: 18px;
  background-color: rgba(52, 152, 219, 0.5);
}
body article {
  margin-top: 40px;
  width: 50%;
  height: auto;
}
body article ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body article ul li {
  border: 1px solid #0a3d62;
  padding: 5px;
  margin: 10px 0;
  height: auto;
  width: 100%;
}
body article ul li .list-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
body article ul li .list-group .profile {
  position: relative;
}
body article ul li .list-group .profile .circle {
  position: absolute;
  width: 95px;
  height: 95px;
}
body article ul li .list-group .profile .scenarios {
  position: absolute;
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
body article ul li .list-group .profile img {
  position: relative;
  width: 90px;
  height: 90px;
}
body article ul li .list-group .item {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 30px;
  flex-direction: column;
  position: relative;
}
body article ul li .list-group .item .lasttime {
  transform: translateX(60px);
  font-size: 16px;
  color: #2f2e2e;
  margin-bottom: 5px;
}
body article ul li .list-group .item .content {
  font-family: '微软雅黑';
}
body article ul li .list-group .item > span {
  position: absolute;
  font-size: 16px;
}
body article ul li .list-group > span {
  position: absolute;
  left: 97.5%;
  top: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808e9b;
  cursor: pointer;
  transition: all 0.5s;
}
body article ul li .list-group > span:hover {
  background-color: #fc5c65;
  color: #2f3542;
}
