* {
    margin: 0;
    padding: 0;
    font: size 16px;
}
body {
    font: 14px/1.5 sans-serif, 'Microsoft YaHei', 'Helvetica Neue';
}
a {
    text-decoration: none;
}
/* topbarBegin */
.topbar {
    background-color: #333333;
    height: 40px;
    /* border: 1px black solid; */
}

.topbar a {
    color: #b0b0b0;
    font-size: 12px;
}

.topbar a:hover {
    color: #fff;
}
.container {
    margin: 0 auto;
    width: 1226px;
}
/* 清除浮动造成的边缘塌陷 */
.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.container::after,
.clearfix::after {
    clear: both;
}

.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 0;
}
.topbar-nav span {
    color: #424242;
    font-size: 12px;
    margin: 0.5em;
}
.topbar-info,
.topbar-cart {
    float: right;
    color: #424242;
}

.topbar-cart a {
    display: block;
    line-height: 40px;
    text-align: center;
    width: 120px;
    background-color: #424242;
}
.topbar-cart a:hover {
    background-color: #fff;
    color: #ff6700;
}
.topbar-cart i {
    font-size: 20px;
    line-height: 20px;
    margin-right: 4px;
    vertical-align: -4px;
}
.topbar-cart span {
    margin-left: -4px;
    font-size: 12px;
}
.topbar-info {
    margin-right: 15px;
}

.topbar-info a {
    float: left;
    padding: 0.5px;
    height: 40px;
    line-height: 40px;
}
.topbar-info span {
    font-family: sans-serif;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #424242;
    padding: 0 3px;
}

.topbar-info > .sep {
    padding: 0 10px;
}
/* topbarEnd */
/* headerBegining */

.header {
    height: 100px;
}
.header-logo {
    float: left;
    margin-top: 22px;
}
.header-nav {
    width: 820px;
    height: 100px;
    float: left;
}

.header-logo > a {
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url('../image/mi-logo.png') no-repeat 50% 50%;
    text-align: left;
    text-indent: -999em;
}
.header-nav > ul {
    list-style: none;
    width: 820px;
    height: 88px;
    font-size: 16px;
    padding: 12px 0 0 30px;
}
.header-nav > ul > .nav-category {
    float: left;
    width: 127px;
    padding-right: 10px;
}
.header-nav > ul > .nav-category > a {
    display: block;
    text-align: right;
    color: #442424;
    padding: 26px 0px 38px;
}

.header-nav > ul > .nav-item {
    float: left;
}
.header-nav > ul > .nav-item > a {
    display: block;
    color: #442424;
    padding: 26px 10px 38px;
}
.header-nav > ul > .nav-item > a:hover {
    color: #ff6700;
}
.header-search {
    width: 296px;
    margin-top: 25px;
    height: 50px;
    float: right;
}
.search-form {
    position: relative;
    display: block;
    height: 50px;
    width: 296px;
}
.search-form > .search-text {
    position: absolute;
    top: 0;
    right: 51;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 245px;
    outline: 0;
    border: 1px solid #e0e0e0;
}
.search-form > .class-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 20px;
    background: #fff;
    outline: 0;
    color: #616161;
}
.search-form > .class-btn:hover {
    background-color: #ff6700;
    color: #fff;
    cursor: pointer;
}
/* headerEnd */
/* seckillBegin */
.seckill {
    background-color: #f5f5f5;
    height: 2000px;
}
.seckill-header {
    margin-top: 19px;
    height: 170px;
    background: url('../image/seckill-head.jpg') no-repeat 50% 50%;
}
.seckill-navfixed {
    position: fixed;
    top: 60px;
}
.seckill-nav {
    margin: -68px 0 22px;
}
/* seckillEnd */
.seckill-nav > ul {
    width: 1225px;
    height: 68px;
    background: #414141;
}
.seckill-nav > ul > li {
    display: block;
    float: left;
    color: #fff;
    cursor: pointer;
    height: 68px;
    width: 20%;
    line-height: 68px;
    text-align: center;
}
.seckill-nav .active {
    background-color: #f1393a;
}
.seckill-nav > ul > li em {
    margin-left: 30px;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    line-height: 1px;
    vertical-align: middle;
}
.seckill-nav > ul > li span {
    margin-left: 15px;

    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
}
.seckill-nav > ul > li span em {
    display: inline-block;
    font-size: 14px;
    margin-left: 0;
    font-style: normal;
    text-align: left;
    line-height: 20px;
}
.seckill-goods .active {
    display: block;
}
.seckill-goods ul {
    display: none;
    list-style: none;
    margin-right: -13px;
}
.seckill-goods ul li {
    float: left;
    background-color: #fff;
    width: 400px;
    height: 190px;
    margin-right: 13px;
    margin-bottom: 13px;
}
.seckill-notice {
    font: 12px #999;
    margin-top: 100px;
    padding-bottom: 35px;
}
.seckill-goods .bg {
    float: left;
    width: 190px;
    height: 190px;
}

.seckill-goods .bg img {
    height: 190px;
}
.seckill-goods .info {
    width: 190px;
    height: 190px;
    margin-left: 210px;
    padding-top: 30px;
}
.seckill-goods .info .name {
    font-size: 16px;
    color: #333;
    height: 16px;
    line-height: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.seckill-goods .info .tips {
    font-size: 12px;
    line-height: 12px;
    color: #999;
    margin-top: 10px;
}
.seckill-goods .info .price {
    font-size: 16px;
    line-height: 16px;
    color: #f1393a;
    margin-top: 14px;
    margin-bottom: 0;
}
.seckill-goods .info .price del {
    color: #999;
    font-size: 12px;
    line-height: 12px;
    margin-left: 10px;
}
.seckill-goods .info .btn {
    display: inline-block;
    width: 118px;
    height: 28px;
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    background-color: #f1393a;
    margin-top: 19px;
    border: 1px solid #f1393a;
}
.seckill-goods .info .person {
    font-size: 12px;
    line-height: 12px;
    color: #999;
    margin-top: 10px;
}
