body{
    background: #ffffff;
    margin: 15px;
}
body,table,td,th,input,select,textarea{
    font-family:Tahoma,Verdana,Arial,Helvtica,sans-serif;
    font-size: 14px;
}
table.defult{
    border: 1px solid #3366cc;
    border-collapse: collapse;
}
table.defult.td{
    padding: 2px 5px 2px 5px;
    height: 26px;
    border: 1px solid #ffffff;
    background-color: #f0f0f0;
}
table.defult tr.title th{
    font-weight: bold;
    text-align: center;
    background: #99ccff;
    color: red;
    border: 1px solid #ffffff;
    white-space: nowrap;
    height: 26px;

}
table.defult td.item{
    font-weight: bold;
    color: #333333;
    text-align: center;
    vertical-align: top;
    padding-top: 4px;
}
.btn{
    background: url("");
    background-repeat: repeat-x;
    border: 3px double #333333;
    border-color: #909090;
    color: #333333;
    padding: 0px 2px;
    font-size: 12px;
    height: 23px;
    cursor: hand;
    margin: 3px;
}